*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/background/makesumo-_X15wtLFLh4-unsplash.jpg); 
    background-repeat: none;
    background-position: center;
    background-size: cover;
    
}
 
.container{
    margin: 1%;
   display: grid;
  gap: 15px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    height: 95vh;
}
.container div{
    border: 2px solid red;}

#product{
    grid-column-start: 1; grid-row-end: 8;
    grid-column-end: 1; grid-row-start: 1;  

}

#first-pic{height: 100%; width: 100%; }